/* ========== Fonts ========== */

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

/* ========== Fonts ========== */

/* ========== Css variables ========== */

:root {
  --primary-c-light: #ffffff;
  --primary-c-dark: #011c44;
  --accent-c: #2b7fff;
  --secondary-c-light: #4a4a4a;
  --secondary-c-dark: #000000;
  --secondary-c-grey: #747272;
}

/* ========== Css variables ========== */

/* ========== Common styles ========== */

body {}

a{
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* ========== Common styles ========== */

/* ========== Page-header ========== */
/* ========== Page-header ========== */

/* ========== Hero section ==========  */
/* ========== Hero section ==========  */

/* ========== About section ==========  */
/* ========== About section ==========  */

/* ========== Benefits section ==========  */
/* ========== Benefits section ==========  */

/* ========== Procedure section ==========  */
/* ========== Procedure section ==========  */

/* ========== Contact section ==========  */
/* ========== Contact section ==========  */

/* ========== Page-footer ========== */
/* ========== Page-footer ========== */
